<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- 开启组件扫描	进行注解注入依赖，就不用手写XML注入的<bean>了 	-->
	<!-- component组件	scan扫描	  base-package配置需要被扫描的顶层包	 -->
	<context:component-scan base-package="spring.ioc.xml0607"></context:component-scan>
	
</beans>